body
{
    transition: background-color .3s ease-out;
}
body.active
{
    background-color: var(--black1);
}
body.active .navbar .nav li a
{
    color: var(--white);
}
/* body.active .navbar .nav li.active  a
{
    color: var(--primary);
} */
body.active .header .logo h1
{
    color: var(--white);
}