@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root
{
    --primary: #FF4C6C;
    --secondary: #2A4365;
    --info: #3CC1FE;
    --success: #5DBB2C;
    --warning: #FF790E;
    /* // Text colors */
    --color1: #2B6CB0;
    --black2: #2C5282;
    --black3: #2A4365;
    /* // Black colors */
    --black1: #222222;
    --black3: #444444;
    --black4: #888888;
    /* // Light colors */
    --white: #FFFFFF;
    --glass: rgba(255, 255, 255, 0.5);
}
a
{
    text-decoration: none;
}
.navbar .nav li a
{
    text-decoration: none;
    color: var(--black1);
    transition: border .2s linear;
}
.navbar .nav li a:hover{
    border-bottom: 3px solid var(--primary);
    /* color: var(--primary); */
}
.navbar .nav li.active  a
{
    color: var(--primary);
    border-bottom: 3px solid var(--primary);

}
/* body{ */
    /* display: flex; */
    /* justify-content: flex-start; */
    /* width: 100vw; */
    /* align-items: flex-start; */
    /* justify-content: center; */
    /* flex-direction: row;
    min-height: 100vh;
    background-color: var(--white);
    padding: 1rem;
    font-family: 'Poppins', sans-serif; */
/* } */
body .wrapper
{
    min-height: 100vh;
    /* padding: .75rem; */
}
.flex
{
    display: flex;
    width: 100%;
    justify-content: center;
}
h1,
h2,
h3,
h4,
h5,
h6
{
    color: var(--black1);
}
.title__page
{
    position: relative;
    border-bottom: solid 3px var(--primary);
    text-align: center;
    width: max-content;
    margin: 30px auto;
}
.title__page::after
{
    content: '+';
    position: absolute;
    top: -10px;
    color: var(--primary);
}
.login__bg,
.register__bg
{
    background-image: url(../assets/img/student-bg.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left;
    background-attachment: inherit;
}
.container
{
    background-color: var(--glass);
    width: 400px;
    min-height: 400px;
    box-shadow: 0 3px 10px var(--black4);
    border-radius: .5rem;
    padding: .75rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    align-content: space-around;
}
.container a
{
    text-decoration: none;
}
.container h3
{
    color: #2b2a29;
    margin-top: 20px;
    border-bottom: solid 2px var(--black4);
    /* margin: 20px auto; */
}
.container form
{
    width: 100%;
}
.container form div
{
    margin: 10px auto;
    width: 100%;
}
.container form div input,
.container form div button
{
    border-radius: 4px;
    outline: none;
    border: none;
}
.container form div input
{
    width: 100%;
    padding: 12px 5px;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.15);
    color: #2b2a29;
    transition: border .3s linear;
}
.container form div input:focus
{
    box-shadow: 0 0 3px  var(--info);
}
.container label
{
    margin-bottom: 10px;
    display: block;
    color: #2b2a29;
}
.required
{
    color: var(--primary);
}
#terms
{
    display: block;
    width: max-content;
    margin-right: 10px;
}
.flex
{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.flex label
{
    position: relative;
    line-height: 10px;
    top: 4px;
}
.container form button
{
    width: 100%;
    height: 45px;
    cursor: pointer;
    background-color: var(--info);
    color: var(--white);
}
.options
{
    justify-content: center;
    column-gap: .5rem;
}
.options div
{
    text-align: center;
}

/* Toggle Theme */
.toggle__theme
{
    width: 60px;
    height: 30px;
    background-color: var(--black4);
    border-radius: 30px;
    position: relative;
    cursor: pointer;
}
.toggle__theme span
{
    position: absolute;
    height: 30px;
    width: 30px;
    background-color: var(--white);
    border-radius: 50%;
    top: 0;
    transform: translateX(0);
    transition: transform .3s ease-in-out;
    border: solid 1px var(--primary);
    text-align: center;
}
.toggle__theme.active span
{
    transform: translateX(30px);
}
.toggle__theme span i
{
    text-align: center;
    line-height: 30px;
}
/* Toggle Theme */